body {font-family: "Open Sans", sans-serif;
    background: #C0BFCD;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

.site-footer{
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #CBCBCB;
    color: black;
   
}

.tab-content{
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: black;
}

.item-active {
    background-color:#282828;
    color: white;
}

.carousel {
    border: solid #5637DD;
}

.search-main{
    background-image:"Img/1557508727.jpg";
    height:auto;
    max-width: 100%;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
